@media screen and (max-width: 600px) {
     h1{
         font-size: 23px;
     }

     .container_questions{
          font-size: 13px;
     }
}

body{
     background-color: #f2f2f2;
}

header{
     margin-bottom: 100px;
}

h1{
     font-family: 'Oswald', sans-serif;
     font-weight: bold;
}

textarea{
     resize: none;
     margin-bottom: 9px;
}

.header-nav li a:hover{
    text-decoration: none;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    transition: all 0.3s ease-in;
    padding-bottom: 5px;
}

.container_faq{
     padding: 20;
}

.container_questions{
     border: 4px solid #FAE987;
     border-radius: 15px;
     padding: 10;
     margin-bottom: 55px;
     width: auto;
     height: auto;
}

.dotted{
     border-style: ridge;
}

.jumbotron{
     margin-bottom: 0;
}
