html{
     height: 100%;
     overflow: hidden;
}

body{
     color: #fff;
     margin: 0;
     padding: 0;
     perspective: 1px;
     transform-style: preserve-3d;
     height: 100%;
     overflow-y: scroll;
     overflow-x: hidden;
}

header{
     box-sizing: border-box;
     min-height: 100vh;
     position: relative;
     transform-style: inherit;
     width: 100vw;
}

header h1{
     margin-top: -500px;
}

header, header::before{
     background: 50% 50% / cover;
}

header::before{
     bottom: 0;
     content: "";
     left: 0;
     right: 0;
     top: 0;
     display: block;
     background-image: url("../images/lawbase.jpg");
     background-attachment: fixed;
     background-size: cover;
     min-height: 100vh;
}

header *{
     font-weight: normal;
     letter-spacing: 0.2em;
     text-align: center;
     margin: 0;
     padding: 1em 0;
}

.container_{
     box-shadow: 10px 10px 5px #aaaaaa;
     background-color: white;
     border-radius: 10px;
     height: 230px;
     width: 200px;
     margin-top: 250px;
     padding-top: 10;
}

.abc{
     padding-left: 50;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.efg{
     font-family: 'Abril Fatface', cursive;
     font-size: 25px;
     padding-left: 75;
     padding-top: 15;
}

<div id="id">
                              <a href="#" data-toggle="tooltip" title="Click to upload image">
                              <img class="rounded" id="thumbnail" src="img/qmark.png"/>
                               <button type="button" class="btn btn-dark" id="btn">Upload Image</button>
                              </a>
                         </div>

                         .header-nav li{
    display: inline-block;
    margin-left: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header-nav li a{
    font-family: merriweather;
    color: white;
    text-decoration: none;
    font-size: 15px;
}
