@media screen and (max-width: 600px) {
  #tabs a{
    font-size: 9px;
  }
}

body{
     background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.7)),url("../images/abc.jpg");
     background-position: top;
}

#cont{
     background-color: rgba(0, 0, 0, 0.4);
     padding-bottom: 1;
     padding-left: 30;
}

#tabs a{
     background: none;
     border-bottom: 5px solid transparent;
     text-decoration: none;
     color: #f2f2f2;
}

#tabs a:hover{
     background-color: none;
     border-bottom: 5px solid #FAE987;
     text-decoration: none;
     color:  #FAE987;
     -o-transition:.5s;
     -ms-transition:.5s;
     -moz-transition:.5s;
     -webkit-transition:.5s;
}

#tabs a:focus{
     background-color: none;
     border-bottom: 5px solid #FAE987;
}

#user_name{
     text-align: center;
     width: 90%;
}

#pass_word{
     text-align: center;
     width: 90%;
}

#user_nameclient{
     text-align: center;
     width: 90%;
}

#pass_wordclient{
     text-align: center;
     width: 90%;
}

.container-fluid{
     margin-top: 100px;
}

#login-now{
     font-size: 8px;
     margin-top: 15px;
     margin-left: 15px;
}
