body{
     background-color: #f2f2f2;
}

#imagee{
     background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.7)),url("../images/abc.jpg");
     height: 100vh;
     background-position: top;
     background-size: cover;
}

#joinnow h1{
     font-family: 'Bree Serif', serif;
     padding-top: 300px;
     text-align: center;
     color: #FFFFFF;
     font-size: 45px;
}

#joinnow a{
     width: 120px;
     font-family: 'Bitter', serif;
}

#joinnow a:hover{
     -o-transition:.5s;
     -ms-transition:.5s;
     -moz-transition:.5s;
     -webkit-transition:.5s;
}
/** ====================================
======================================
"AN OUNCE TEXT"=======================
======================================
**/

#thirdcont{
     margin-top: 50px;
}

#thirdcont p{
     font-size: 40px;
     font-family: 'Lobster', cursive;
}

code{
     font-size: 42px;
     color: #3544FF;
     font-family: 'Lobster', cursive;
}

#fourthcont{
     margin-top: 50px;
}

.center{
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 50%;
}

h6{
     text-align: center;
     padding-top: 20px;
}

#fourthcont h6{
     font-size: 20px;
     font-family: 'Archivo Narrow', sans-serif;
}
