body {
     background-color: #E6F7F8;
}

#adminInput{
     background-color: #CCD9DA;
     height: 250px;
     width: 500px;
     margin-left: 300px;
     border-radius: 50px;
}

#logo{
     height: 150px;
     margin-left: 470px;
     margin-top: 100px;
}

#insideadminInput{
     border: 2px solid #0000;
     margin-left: 110px;
}

#e_mail{
     width: 75%;
     height: 15%;
     margin-top: 70px;
}

#p_word{
     width: 75%;
     height: 15%;
     margin-top: 10px;
}

#log_but{
     margin-top: 30px;
     margin-left: 50px;
}

button{
     border-radius: 50px;
     border: 2px solid #97B9BC;
     background-color: #97B9BC;
     width: 50%;
}
