body {
     background-color: #E6F7F8;
}

.navbar-header {
     margin-left:  3px;
}

.navbar-nav {
     margin-left:  50px;
}

#choice{
     margin-left: 50px;
}

/** Inside container after nav bar **/

p{
     font-family: 'Source Serif Pro', serif;
     text-align: center;
     font-size: 30px;
}

#student_fname{
     text-align: center;
     width: 40%;
     margin-left: 326px;
     margin-top: 50px;
}

#student_lname{
     text-align: center;
     width: 40%;
     margin-top: 10px;
     margin-left: 326px;
}

#student_contact{
     text-align: center;
     width: 40%;
     margin-top: 10px;
     margin-left: 326px;
}

#student_address{
     text-align: center;
     width: 40%;
     margin-top: 10px;
     margin-left: 326px;
}

#e_mail{
     text-align: center;
     width: 40%;
     margin-top: 10px;
     margin-left: 326px;
}

#p_word{
     text-align: center;
     width: 40%;
     margin-top: 10px;
     margin-left: 326px;
}

#student_confirm_password{
     text-align: center;
     width: 40%;
     margin-top: 10px;
     margin-left: 326px;
}

#sub{
     border: 2px solid #143537;
     background-color: #007A84;
     color: white;
     cursor: pointer;
     border-radius: 50px;
     font-size: 20px;
     width:  30%;
     margin-left: 390px;
     margin-top: 30px;
}

#sub:hover{
     border: 2px solid #143537;
     font-size: 25px;
     opacity: 0.5;
     background-color: #66CCFF;
}

/** FOOTER **/

.site-footer{
     padding-top: 10px;
}

.bottom-footer{
     border: 1px solid #b2b2b2;
     color: #b2b2b2;
     margin-top: 10px;
}

.footer-nav{
     text-decoration: none;
     text-align: right;
}

.footer-nav li{
     display: inline-block;
}

a{
     color: #b2b2b2;
}
