body {
     background-color: #E6F7F8;
}

#not_signedin{
     display: none;
}

button{
     border-radius: 50px;
     border: 2px solid #97B9BC;
     background-color: #97B9BC;
}

a:hover{
     text-decoration: none;
}

a{
     color: #b2b2b2;
}

.navbar-header {
     margin-left:  3px;
}

.navbar-nav {
     margin-left:  50px;
}

#img1{
     margin-left: 550px;
}

#e_mail{
     width: 15%;
     height: 15%;
}

#img2{
     margin-left: 20px;
}

#p_word{
     width: 15%;
     height: 15%;
}

#log_but{
     margin-left: 10px;
}

/** FOOTER **/

.site-footer{
     padding-top: 10px;
}

.bottom-footer{
     border: 1px solid #b2b2b2;
     color: #b2b2b2;
     margin-top: 10px;
}

.footer-nav{
     color: white;
     text-decoration: none;
     text-align: right;
}

.footer-nav li{
     display: inline-block;
}

/** WHEN LOGGED IN **/

#when_loggedin{
     display: none;
}

/** LOGOUT **/

#out{
     margin-left: 1080px;
}

/** USER **/

h4{
     text-align: center;
     color: black;
     margin-top: 150px;
}

#please{
     font-family: 'Merriweather Sans', sans-serif;
     text-align: center;
     font-size: 30px;
}

#upper{
     font-family: 'Merriweather Sans', sans-serif;
     text-align: center;
     font-size: 20px;
}
